@import '../styleguide.css';
@import '../globals.css';

body {
  background-color: black;
  color: white;
}

.login-container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "login-side image-side";
}

.login-side { grid-area: login-side; 
margin-top: 50%;}

.image-side { grid-area: image-side;
background-image: url("../static/img/login-image.png");
background-repeat: no-repeat;
height: 100vh; }

.custom-text {
  color: var(--white);
  font-family: var(--font-family-impact-regular);
  font-size: 80px;
  font-weight: 400;
  top: -1%;
  left: -1%;
  letter-spacing: 0;
  position: relative;
}

.formTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formField {
  margin-bottom: 40px;
  align-items: center;
}

.loginformFieldInput {
  width: 85%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.formFieldInput::placeholder {
  color: #616e7f;
}

.formFieldButton {
  background-color: var(--white);
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-circularstd-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 27px;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 10.5px;
  margin-left: 47px;
  margin-right: 44px;
  text-align: center;
  white-space: nowrap;
}

.formFieldLink {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
}

.formFieldCheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: black;
  border-bottom: 1px solid white;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.bottom-padding {
  margin-bottom: 2cm;
}

.welcome-text {
  text-align: center;
  font-size: 40px;
  font-family: var(--font-family-source_sans_pro);
  font-weight: 700;
}