.component-2-3 {
  align-items: flex-start;
  display: flex;
  height: 812px;
  justify-content: flex-end;
  left: 1px;
  min-width: 1742px;
  position: absolute;
  top: 1px;
}

.overlap-group5 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 830px;
  margin-top: -6.0px;
  min-width: 1760px;
  padding: 19.0px 295.0px;
}

.typography-13 {
  height: 59px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
  width: 173px;
}

