*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: #365060;
}

/*The registration card*/
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    background: #F0F4F4;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.05);
}

/*Center text of registration*/
.card h1{
    text-align: center;
    padding: 40px 0 0;
    color: #50585D;
}
.card h2{
    text-align: center;
    padding: 20px 0 20px;
    font-size: 18px;
    color: #50585D;
}

/*registration section*/
.card form{
    padding: 0 30px;
    box-sizing: border-box;
}

/*decorative line under user input*/
form .user_text{
    position: relative;
    margin: 20px 0;
}
.user_text input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:#365060;
    background: none;
}
.user_text label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: grey;
    font-size: 16px;
    pointer-events: none;
}

/*Sumbit button*/
input[type="submit"]{
    margin-top: 40px;    
    margin-left: 35%;
    width: 30%;
    height: 50px;
    border: 0px;
    background: #868F44;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: #c5d378;
    transition: .5s;
}

/*Login*/
.login_link a{
    color: #868F44;
    text-decoration: underline;
    font-weight: bold;
}
.login_link a:hover{
    text-decoration: underline;
}