@import '../../../styleguide.css';
@import '../../../globals.css';

.nutrition-container {
    display: grid;
    font-family: var(--font-family-source_sans_pro);
    margin-left: 100px; /*REQUIRED WHEN USING SIDEBAR*/
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: 0.33fr 0.3fr 0.2fr 2.9fr;
    grid-auto-columns: 1fr;
    padding-bottom: 20px;
    gap: 30px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "nutrition-title . ."
      ". food-entry-button ."
      "nutrition-date-navigator nutrition-date-picker progress-text"
      "meal-breakdown nutritional-breakdown progress-breakdown";
  }

  .nutrition-title { grid-area: nutrition-title;
    margin-top: 10%;
    flex: 1;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 80px; }
  
  .food-entry-button { grid-area: food-entry-button; 
    text-align: right;
    }
  
  .nutrition-date-navigator { grid-area: nutrition-date-navigator; }
  
  .nutrition-date-picker { grid-area: nutrition-date-picker; 
    text-align: right;
}
  
  .progress-text { grid-area: progress-text; 
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
}
  
  .meal-breakdown { grid-area: meal-breakdown; 
    border-radius: .60rem; 
    background-color: var(--quill-gray);
    padding: 10%;}
  
  .nutritional-breakdown { grid-area: nutritional-breakdown;
    border-radius: .60rem; 
    background-color: var(--quill-gray);
    padding: 10%; }
  
  .overall-breakdown { grid-area: progress-breakdown; 
    display: flex;
    flex-direction: column;
    }

  .overall-progress-card {
    border: 1px solid #d3d3d3;
    border-radius: 10px; 
    background-color: var(--quill-gray);
    box-shadow: 3px 4px 5px #00000029;
    padding: 25px;
    margin-bottom: 30px;
  }

  .small-title {
    font-family: var(--font-family-source_sans_pro);
    font-size: 30px;
    font-weight: 600;
  }

  .breakdown-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 0.1fr 3.3fr;
    grid-auto-columns: 1fr;
    margin: 5%;
    gap: 0px 8px;
    grid-auto-flow: row;
    grid-template-areas:
      "meal-name food-name meal-count"
      "hr hr hr"
      ". nutrition-stat-name nutrition-stat-detail";
  }
  
  .meal-name { grid-area: meal-name; }
  
  .food-name { grid-area: food-name; }
  
  .food-count { grid-area: meal-count; }
  
  .hr { grid-area: hr; }
  
  .nutrition-stat-name { grid-area: nutrition-stat-name; }
  
  .nutrition-stat-detail { grid-area: nutrition-stat-detail; }

  .second-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 2fr;
    grid-auto-columns: 1fr;
    gap: 0px 8px;
    margin-bottom: 5%;
    grid-auto-flow: row;
    grid-template-areas:
      "nutrition-breakdown-name . ."
      "hr hr hr"
      "nutrition-stat-name . nutrition-stat-detail";
  }
  
  .nutrition-breakdown-name { grid-area: nutrition-breakdown-name; }
    
  .nutrition-stat-name { grid-area: nutrition-stat-name; }
  
  .nutrition-stat-detail { grid-area: nutrition-stat-detail; }
  
  