/*this is the home page styles*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #365060;
}

h1, h2, p {
    margin: 0 0 .8em 0;
    background: transparent;
}

h1 {
    text-align: center;
}

.nav__link {
    color: inherit;
}

.container {
    max-width: 960px;
    margin: 0 auto;

    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.container div {
    background-color: #F0F4F4;
}

.container > * {
    border-radius: 3px;
    padding: 16px;
}

.header {
    max-height: 100px;
    grid-column-start: 1;
    grid-column-end: -1;
    color: white;
    align-content: center;
    text-align: center;
}

.logo {
    height: 60px;
    line-height: 0;
}

.header h1 {
    display: inline-block;
    margin: none;
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    color: black;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column: 1 / span 4;
}

.content-small {
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-end: span 2;
    text-align: center;
}
