:root { 
  --black: #000000;
  --chicago: #5e5e60;
  --silver: #c1c1c1;
  --white: #ffffff;
 
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 14px;
  --font-size-xl: 60px;
 
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}
.sourcesanspro-semi-bold-black-25px {
  color: var(--black);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.sourcesanspro-semi-bold-chicago-25px {
  color: var(--chicago);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.sourcesanspro-semi-bold-silver-25px {
  color: var(--silver);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}
