@import '../../../styleguide.css';
@import '../../../globals.css';

.trainer-fitness-container {
    margin-left: 100px; /*REQUIRED WHEN USING SIDEBAR*/
    padding-left: 50px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.3fr 0.65fr 1.45fr;
    grid-auto-columns: 1fr;
    gap: 0px 8px;
    font-family: var(--font-family-source_sans_pro);
    grid-auto-flow: row;
    grid-template-areas:
      "dashboard-title dashboard-title"
      "profile assign"
      "profile assign";
  }
  
  .dashboard-title { grid-area: dashboard-title; 
    margin-top: 2%;
    flex: 1;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 80px;}
  
  .assign { grid-area: assign; 
    }

  .profile { grid-area: profile;
    margin-right: 20px;
  }

  .profile-pic {
      border-radius: 10px;
      /* remove later */
      background-color: grey;
      height: 229px;
      object-fit: cover;
      width: 227px;
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    border-radius: .60rem; 
    background-color: var(--quill-gray);
    box-shadow: 3px 4px 5px #00000029;
    min-height: 155px;  
    border-radius: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    display: flex;
  }
  
  .small-title {
    font-family: var(--font-family-source_sans_pro);
    font-size: 30px;
    font-weight: 600;
  }

  .analytic-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: space-around;
    margin-top: 5%;
    margin-right: 5%;
  }

  .analytic-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    border-radius: .60rem; 
    background-color: var(--quill-gray);
    box-shadow: 3px 4px 5px #00000029;
    min-height: 155px;  
    border-radius: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    display: flex;
  }

  .analytic-title {
    font-family: var(--font-family-source_sans_pro);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .analytic-content {
    font-family: var(--font-family-source_sans_pro);
    font-size: 20px;
    font-weight: 400;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--font-family-source_sans_pro);
    font-size: 20px;
    font-weight: 400;
  }

  .sub-title {
    font-family: var(--font-family-source_sans_pro);
    font-size: 20px;
    font-weight: 600;
  }